DATABASE_URL=postgresql://postgres:1qazZAQ!@192.168.33.55:5432/eduvin
 
MISTRAL_API_KEY=a3PVcFGPl2croYAlqSYIgiu3u0ViHxvr
GROQ_API_KEY=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
 
# Session Secret (change in production)
SESSION_SECRET=testkeyfordevelopment
 
# Server Port
PORT=5000